<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ocrud.mapper.TVouchersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ocrud.entity.TVouchers">
            <result column="id" property="id"/>
            <result column="create_date" property="createDate"/>
            <result column="update_date" property="updateDate"/>
            <result column="title" property="title"/>
            <result column="thumbnail" property="thumbnail"/>
            <result column="amount" property="amount"/>
            <result column="price" property="price"/>
            <result column="status" property="status"/>
            <result column="start_use_time" property="startUseTime"/>
            <result column="expire_time" property="expireTime"/>
            <result column="stock" property="stock"/>
            <result column="stock_left" property="stockLeft"/>
            <result column="description" property="description"/>
            <result column="clause" property="clause"/>
            <result column="is_valid" property="isValid"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id,
            create_date,
            update_date,
        title, thumbnail, amount, price, status, start_use_time, expire_time, stock, stock_left, description, clause, is_valid
    </sql>

</mapper>
